@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&family=Poppins:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    max-width: 100vw;
    background-image: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.hero h2 {
    font-weight: 600;
    line-height: 1.8;
    font-size: 2.5em;
}

.hero p {
    font-size: .9em;
}

.mouse-click {
    position: absolute;
    bottom: 2rem;
}

.about-us {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.about {
    flex: 1;
    max-height: 38vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.services {
    flex: 1;
    height: 62vh;
    background-image: url(/assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

.what-we-do {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons{
    margin-top: -3rem;
}

body > section.portfolio > div.portfolio-icons.mb-5 {
    margin-top: -2rem;
}

.icons div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    flex-direction: column;
}

.container {
    text-align: center;
}

body > section.portfolio > div.container.mt-5 > div {
    height: 200px;
}

body > section.portfolio > div.container.mt-5 > div h4 {
    font-size: .9em;
}


.icons h4 {
    font-size: .9em;
}

.portfolio {
    min-height: 100vh;
}

.portfolio-icons {
    text-align: center;
}

.row div {
    width: 280px;
    height: 250px;
    background-position: center;
}

.row-cols-4 {
    gap: 1.5rem;
}

.div1 {
    background-image: url(/assets/portfolio/work4.jpg);   
}

.div2 {
    background-image: url(/assets/portfolio/work3.jpg);
}

.div3 {
    background-image: url(/assets/portfolio/work2.jpg);
}

.div4 {
    background-image: url(/assets/portfolio/work1.jpg);
}

.div5 {
    background-image: url(/assets/portfolio/work5.jpg);
}

.div6 {
    background-image: url(/assets/portfolio/work6.jpg);
}

.div7 {
    background-image: url(/assets/portfolio/work7.jpg);
}

.div8 {
    background-image: url(/assets/portfolio/work8.jpg);
}

.contact {
    min-height: 100vh;
    color: white;
    text-align: center;
    
}

.feedback {
    min-height: 80vh;
    background-image: url(/assets/backgrounds/c_image.jpg);
    background-position: center;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;  
}


input, textarea {
    background-color: transparent;
    border: 1px solid white;
    padding: .5rem;
}

.input1 {
    margin-bottom: 1rem;
}

::placeholder {
    color: white;
}

#name, #email {
    width: 33em;
}

#message {
    width: 64em;
    
}

footer {
    padding: 2rem 0 .3rem 0;
    color: rgb(20, 20, 20);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.socials img {
    height: 40px;
    width: 40px;
}

#studio-name {
    margin-top: 1.5rem;
}

#year {
    margin-top: -1rem
}

.back-side {
    display: none;
}

.front-side {
    display: inline;
}